sudo: required
services:
  - docker

before_install:
  - pushd client && make dev/build && popd

scrpit:
  - pushd client && make dev/test && popd

after_success:
  - popd client && make build && popd
  - pushd worker && make build  && popd
  - pushd server && make build && popd
  - pushd nginx && make build && popd
  - echo "$DOKERHUB_LOGIN_KEY" | docker login -u "$DOKERHUB_ID" --password-stdin
  - docker push hiro918/k8s-complex-client
  - docker push hiro918/k8s-complex-worker
  - docker push hiro918/k8s-complex-server
  - docker push hiro918/k8s-complex-nginx